/* AnimatedTitle.module.css */

.animatedWord {
  display: inline-block;
  opacity: 0;
  transform: translateY(50px) rotateX(-10deg) rotateY(10deg);
  transform-origin: 0% 50%;
  will-change: transform, opacity;
}
